.chart {
  height: 15rem;
  width: 100%;
  background-color: var(--background-color);
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

@media screen and (min-width: 575px) and (max-width: 1024px) {
  .chart {
    height: 10rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .chart {
    height: 9rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
  }
}
