.tag {
  padding: 0.2rem 0.8rem;
  background-color: var(--bg-color);
  color: var(--color);
  border-radius: 1rem;
  width: fit-content;
}

@media screen and (min-width: 575px) and (max-width: 1024px) {
  .tag {
    padding: 0.1rem 0.4rem;
    border-radius: 0.5rem;
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .tag {
    padding: 0.1rem 0.4rem;
    border-radius: 0.5rem;
    font-size: 0.6rem;
  }
}
