.statsCard {
  gap: 1rem;
  .card {
    width: 15rem;
    height: 10rem;
    background-color: var(--background-color);
    border-radius: 0.5rem;
    padding: 0.5rem;

    .icon {
      width: 4rem;
      height: 4rem;
      background-color: var(--icon-bg);
      color: var(--icon);
      border-radius: 1rem;
    }
    .label {
      color: var(--text-color);
      font-size: 0.8rem;
    }

    .detail {
      .total {
        color: var(--text-color);
        font-size: 2rem;
        font-weight: 600;
      }
      .percentage {
        gap: 0.5rem;
        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 575px) and (max-width: 1024px) {
  .statsCard {
    gap: 0.5rem;
    .card {
      width: 10rem;
      height: 6.4rem;
      border-radius: 0.3rem;
      padding: 0.3rem;

      .icon {
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
      }
      .label {
        font-size: 0.5rem;
      }

      .detail {
        .total {
          font-size: 1rem;
        }
        .percentage {
          gap: 0.3rem;
          font-size: 0.5rem;
          svg {
            width: 0.5rem;
            height: 0.5rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .statsCard {
    gap: 0.3rem;
    .card {
      width: 8rem;
      height: 4.5rem;
      border-radius: 0.15rem;
      padding: 0.15rem;

      .icon {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0.2rem;
      }
      .label {
        font-size: 0.35rem;
      }

      .detail {
        .total {
          font-size: 0.6rem;
        }
        .percentage {
          gap: 0.15rem;
          font-size: 0.3rem;
          svg {
            width: 0.3rem;
            height: 0.3rem;
          }
        }
      }
    }
  }
}
